h1{
    color: pink;
}
h2{
    text-align: center;
}
.box{
    background: blue;
    height: 200px;
    width: 300px;
    padding: 200px;
    margin: 300px;
}
.box-dua{
    background: black;
    height: 100px;
    width: 200px;
    margin-left: 500px;
}